<div>
    <h1>Results</h1>
    <ul>
        {{#each artists}}
            <li>
                <img src="{{images.0.url}}" alt="{{name}}"/>
                <strong>{{name}}</strong>
                <a href="/albums/{{id}}">Artist's Albums</a>
            </li>
        {{/each}}
    </ul>
</div>

