<h1>Artist's Albums</h1>

    <ul>
        {{#each albums}}
            <li>
                <img src="{{this.images.0.url}}" alt="{{this.name}}"/>
                <strong>{{this.name}}</strong>
                <a href="/tracks/{{this.id}}">View album's tracks</a>
            </li>
        {{/each}}
    </ul>
