<h1>Artist Search Results</h1>

    <ul>
        {{#each artists}}
            <li>
                <img src="{{this.images.0.url}}" alt="{{this.name}}"/>
                <strong>{{this.name}}</strong>
                <a href="/albums/{{this.id}}">Artist's Albums</a>
            </li>
        {{/each}}
    </ul>


