<ul>
    {{#each tracks}}
        <li>
            <b>{{this.name}}</b>
            <audio controls>
                <source src="{{this.preview_url}}" type="audio/mpeg">
            </audio>
        </li>
    {{/each}}
</ul>